doctype html
html
  head
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    title Task Force Dance Academy
    block scripts
    block style 
    
  body
    nav#navbar.top 
      ul.nav
        

        div#logo 
          img(src="/static/img/logo.png")
          | TFDA 
        li #[a(href="/") Home]
        li #[a(href="/about") About]
        li #[a(href="/") Services]
        li#we #[a(href="/") Class Info]
          ul.dropdown  
            li #[a(href="/") Hip hop class]
            li #[a(href="/") Hip hop class]
            li #[a(href="/") Hip hop class]

        li #[a(href="/contact") Contact Us] 

    block content
    footer#footer1
      | Task Force Dance Accademy © 2021  
     
      div.social-links
        <a href="https://twitter.com/" class="icon-twitter" title="@designshack on Twitter"><ion-icon name="logo-instagram"></ion-icon><span>Twitter</span></a>
        <a href="https://facebook.com/" class="icon-facebook" title="Facebook"><ion-icon name="logo-facebook"></ion-icon><span>Facebook</span></a>
        <a href="https://www.pinterest.com/" title="Pinterest" class="icon-pinterest"><ion-icon name="logo-pinterest"></ion-icon><span>Pinterest</span></a>
        <a href="http://feedpress.me/" title="RSS Feed" class="icon-rss"><ion-icon name="logo-rss"></ion-icon><span>RSS Feed</span></a>

    
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  